doctype html 
html
    head
        title #{title}
    body 
        p This is my first paragraph
        h1 This is my firt heade
        if(users)
            h3 My name is = #{users.name} and my age is = #{users.age}
        else 
            h3 User not found!