doctype html 
html
    head
        title #{name}
    body 
        include ./layout/header.pug
        p this is my first paragraph
        h3 #{url}
        a(href="/data") go data

        include ./layout/footer.pug